@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Metropolis-Light.woff2') format('woff');
}

@layer base {
  html {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #44403c;
    font-size: 0.9rem;
    /* color: #d6d3d1; */
  }
  body {
    background-image: url(./../../public/img/bg-01.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container{
    position: relative
  }
}
.dialog-reunion {
  background: transparent url(../../public/img/rip.svg) no-repeat 0 100%;
  scrollbar-width: thin;
  scrollbar-color: rgba(59, 46, 5, 0.3);
}
header {
  position: sticky;
  padding: 0.75rem 2.25rem;
  top: 0;
  z-index: 10;
  width: 100%;
}
aside#navigation-container {
  position: sticky;
  height: 0;
  width: auto;
  top:140px;
  padding-left:2.5rem;
  z-index:20
}
aside#navigation-container nav {
  font-family: Oswald;
  font-size: 0.8rem;
  white-space: nowrap;
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
aside#navigation-container nav.open {
  /* max-width: 500px; */
  width: 350px;
  overflow: hidden;
}

.nav-toggle {
  margin-bottom: 1.5rem;
}
.nav-toggle:focus {
  outline-width: 0;
}

.nav-toggle [class*='bar-'] {
  background: #000;
  display: block;
  transform: rotate(0deg);
  transition: 0.2s ease all;
  border-radius: 2px;
  height: 2px;
  width: 25px;
  margin-bottom: 4px;
}

.nav-toggle .bar-bot {
  margin-bottom: 0;
}

.open .bar-top {
  transform: rotate(45deg);
  transform-origin: 15% 15%;
}
.open .bar-mid {
  opacity: 0;
}
.open .bar-bot {
  transform: rotate(-45deg);
  transform-origin: 15% 95%;
}


nav#chapters {
  margin-top: 3rem;
}

header nav#chapters > p {
  margin: 1.5rem 0;
}

.hx_level2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.coordXY {
  text-indent: -10000px;
}
form > div {
  @apply flex flex-col gap-2;
}
input,
textarea {
  @apply shadow-md px-6 py-2 border border-slate-300;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
