@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'archisticonormal';
    src: url('/fonts/Archistico_Simple-webfont.woff') format('woff');
}

@layer base {
  html {
    font-family: Helvetica, Arial, sans-serif;
    color:##44403c;
    /* color: #d6d3d1; */
  }
}

.radial-bg{
  /* background: radial-gradient(#fff, #F4DF00 ) */
  /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(244,223,0,0.16) 81%, rgba(255,252,0,0.16) 100%); */
  background: radial-gradient(circle, rgba(136,166,28,0.2) 0%, rgba(242,185,15,0.5) 88%, rgba(242,140,15,0.3) 100%);
  /* couleur des feuilles de ginkgo biloba en automne */
  /* https://color.adobe.com/fr/trends/Flavour?page=3 */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


